.pei-chart-container{
    padding: 3%;
    display: flex;
    flex-direction: row;
    width: 700px;
    height: 350px;
    justify-content: space-between;

}

.main-page-number{
    font-size: 36px;
    font-weight: 500;

}

.main-page-only-cash-word{
    font-size: 22px;
    margin-bottom: 3%;

}

.bar-chart{
    margin-left: 10%;
}
