.company-news-container{

    display: flex;
    justify-content: space-between;
    gap:70px;
    text-decoration: none;
    padding-left: 2%;
    padding-top: 5%;
    padding-bottom: 5%;
    border-bottom: 1px solid lightgray;
}


.company-news-container:hover {
    background-color: rgb(245, 248, 252);
    cursor: pointer;
}

.company-news-image{
    width: 180px;

}

.news-title{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 8px;
    text-decoration: none;
    color:black
}

.news-headline{
    color:darkgray
}

.Company-News-top-title{
    padding-top: 2.5%;
    padding-bottom: 2%;
    font-size: 30px;
    font-weight: 400;
    border-bottom: 1px solid lightgray;
}

.space{
    height:30px
}
