.watchlist-title-icon-container{
    display: flex;
    justify-content:space-between;
}

.Expand-watchlist-button{
    background-color: white;
    border: none;

}

.Edit-watchlist-modal-btn{
    cursor: pointer;
}

.single-asset-container{
    height:40px;
    align-items: center;
    display: flex;
    justify-content: space-between;

}

.single-asset-first-column{
    font-weight: 500;
    text-decoration: none;
    color: black;
    width: 30%;
}
