.edit-watchlist-page-container{
    padding-left: 23%;
    padding-right: 23%;
    display:grid;
    grid-template-columns: 3fr 2fr;
    grid-gap: 6%;
}

.edit-watchlist-page-title{
    font-size: 40px;
    font-weight: 600;
    padding-left: 23%;
    padding-right: 23%;
}

.eidt-watchlist-input{
    height: 40px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid lightgrey;
}

.eidt-watchlist-input-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 3%;
    padding-bottom: 2%;
    gap:5%;
    border-bottom: 1px solid lightgray;
}

.e-w-button{
    width: 200px;
    background-color: rgb(255,84,4);
    border:none;
    height: 40px;
    font-size: 22px;
    color:white;
    border-radius: 20px;
    cursor: pointer;

}

.edited-watchlist-button-div{
    width: 410px;
    margin-bottom: 3%;
}

#robinbird {
    width: 60px;
    margin-right: 2%;
    margin-bottom: -10px;
}
