.Splash-nav-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5%;
    margin-top: 0.5%;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

#logo-P {
    width: 40px;
    height: 50px;
}

.Splash-nav-title {
    font-size: 28px;
    font-weight: 500;
    text-align: center;
}

.Splash-nav-word-1 {
    font-size: 20px;
    margin-left: 2.5%;

}

.Splash-nav-word {
    font-size: 20px;
    margin-left: 2.5%;

}

.Splash-nav-left {
    width: 80%;

}

.Splash-nav-right {
    width: 20%;
    margin-right: 0;
}

.splash-nav-login-button {
    background-color: white;
    font-size: 20px;
    margin-right: 8%;
    float: right;
    border-radius: 20px;
    cursor: pointer;
    text-align: center;
    width: 120px;
    height: 40px;
    border: 1px solid black;
    font-weight: 500;
}

/* .splash-nav-signup-button {
    background-color: black;
    color: white;
    font-size: 20px;
    margin-right: 5%;
    float: right;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    width: 120px;
    height: 40px;

} */


#show-acc-btn {
    background-color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
}

.Nav-acc-container {
    background-color: aquamarine;
}


#nav-account {
    border:1px solid grey;
    position: fixed;
    top: 3%;
    right: 2.6%;
    width:240px;
    height:150px;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 0.5%;
}

.acc-word-name{
    font-weight: 600;
    padding-bottom: 4%;
}

.acc-word-container{
    display: flex;
    gap:13%;
    padding-bottom: 7%;
    border-bottom: 1px lightgray solid;
}

.acc-word-number{
    margin-bottom: 0;
    padding-bottom: 4%;
    font-weight: 600;
}

.add-logout-container{
    padding-top: 4%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.logout-icon{
    font-size: 24px;
    padding-right: 10%;
}

.logout-button{
    height: 100%;
    cursor: pointer;
}
