#add-to-watchlist-button{
  border: 1px solid rgb(255,84,4);
  background-color: white;
  height: 40px;
  width: 100%;
  color:rgb(255,84,4);
  border-radius: 20px;
  cursor: pointer;
}

.add-to-watchlist-div{
  padding-top: 10%;
  padding-left: 4%;
  padding-right: 4%;
}
