#add-to-watchlist-button{
  border: 1px solid rgb(255,84,4);
  background-color: white;
  height: 40px;
  width: 100%;
  color:rgb(255,84,4);
  border-radius: 20px;
  cursor: pointer;
}

.add-to-watchlist-div{
  margin-top: 2%;
  padding-top: 10%;
  padding-left: 4%;
  padding-right: 4%;
  padding-bottom: 10%;
  width: 339px;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.no-watchlist-word{
  padding-top: 4%;
  text-align: center;
  font-weight: 500;
}

.add-to-wl-input{
  font-size: 30px;
}

.watchlist-add-to-container{

  padding-top: 4%;
  padding-left: 100px;
}

.add-wl-button{
  margin-top: 5%;
  width: 160px;
  height: 35px;
  border: 1px solid rgb(255,84,4);
  border-radius: 20px;
  background-color: white;
  cursor: pointer;
  color: rgb(255,84,4);
  font-weight: 500;
}

.add-wl-button-disabled{
  margin-top: 5%;
  width: 160px;
  height: 35px;
  border: 1px solid rgb(255,84,4);
  border-radius: 20px;
  background-color: white;
  color: rgb(255,84,4);
  font-weight: 500;
  cursor: not-allowed;
  pointer-events: all !important;
}

.add-to-wl-name{
  font-size: 22px;
  font-weight: 500;
}

#bulb-img{
  height:18px;
  margin-right: 3%;
  margin-left: 3%;
  border: 1px solid lightgray;
  width: 18px;
}
