.single-asset-container{
    display: flex;
    padding-left: 3%;
    padding-right: 3%;
    gap: 15%;
    margin-bottom: 5%;
}


.first-column-name{
    font-weight: 600;
    font-size: 16px;
}

.first-column-number{
    font-size: 12px;
}

.third-column{
    text-align: center;
    font: 12px;
}
