.single-asset-container{
    display: flex;

}



.single-asset-container-big{
    padding-left: 4%;
    padding-right: 4%;
}

.first-column-name{
    font-weight: 600;
    font-size: 16px;

}

.first-column-number{
    font-size: 12px;

}

.third-column{
    text-align: center;
    font: 12px;

}

.portfolio-bar-title{
    height: 40px;
    align-items: center;
    padding-left: 2%;
}

.portfolio-bar-asset{
    height: 40px;
    text-justify: center;
    padding-left: 4%;
}

#bulb-img{
    height:25px;
    width: 25px;
}
