.Single-Stock-page-container{
    display:grid;
    grid-template-columns: 2.5fr 1fr;
    padding-left: 23%;
    padding-right: 23%;
}

.Single-Stock-page-right{
    border: 1px solid lightgray;
    padding: 5%;
    border-radius: 5px;
    height: 400px;
    width: 330px;
}

.Single-Stock-page-bs-div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.s-buy-btn{
    background-color: white;
    border:none;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    /* margin-right: 2%; */
    padding-bottom: 5px;
    background-color: rgba(0,200,5,0.2);
    border-radius: 10px;
}

.s-sell-btn{
    background-color: white;
    border:none;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    /* margin-right: 2%;
    margin-left: 75px; */
    padding-bottom: 5px;
    background-color: rgba(0,200,5,0.2);
    border-radius: 10px;
}

.s-buy-btn-d{
    background-color: white;
    border:none;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    /* margin-right: 2%; */

}

.s-sell-btn-d{
    background-color: white;
    border:none;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    /* margin-right: 2%; */
    /* padding-left: 80px; */
}

.DownCircle{
    height:20px;
    color:green;

}






@media screen and (max-width: 2200px) and (min-width: 1601px){
    .Single-Stock-page-container {
        padding-left: 18%;
        padding-right: 18%;
    }

}

@media screen and (max-width: 1900px) and (min-width: 1601px){
    .Single-Stock-page-container {
        padding-left: 8%;
        padding-right: 8%;
    }
}

@media screen and (max-width: 1600px) {
    .Single-Stock-page-container {
        padding-left: 3%;
        padding-right: 3%;
    }
}
