.Main-page-container{
    margin-left: 23%;
    margin-right: 23%;
    display:grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 1%;
}

.Main-page-right{
    border: 2px solid lightgray
}
