.Main-page-container{
    padding-left: 23%;
    padding-right: 23%;
    display:grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 1%;
}

.Main-page-right{
    border: 2px solid lightgray;
    width: 339px;;

}

@media screen and (max-width: 2200px) and (min-width: 1901px){
    .Main-page-container {
        padding-left: 18%;
        padding-right: 18%;
    }

}

@media screen and (max-width: 1900px) and (min-width: 1601px){
    .Main-page-container {
        padding-left: 8%;
        padding-right: 8%;
    }
}

@media screen and (max-width: 1600px) {
    .Main-page-container {
        padding-left: 3%;
        padding-right: 3%;
    }
}
